# Ignore Environment Variables (Crucial for bypass keys error)
.env
.env.local

# Ignore Virtual Environment
venv/
.venv/
env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS specific files
.DS_Store
Thumbs.db